/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #FFFFFF;
  --text-color-light: #6F76C8;
  --text-color-alt: #BDC1FF;
  --container-color: #1C1F4A;
  --container-color-alt: #5847EB;
  --body-color: hsl(226, 43%, 10%);

  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --self: hsl(43, 84%, 65%);

  /*========== Font and typography ==========*/
  --body-font:'Rubik', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*========== CLASS CSS ==========*/


/*========== LAYOUT ==========*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*========== PROFILE ==========*/

.profile__container {
  margin-top: var(--header-height);
  
}

.profile__data {
  padding: var(--mb-3);
  position: relative;
  top: 10px;
  z-index: 1;

  display: flex;
  gap: 1rem;
  align-items: center;

  background-color: var(--container-color-alt);
  border-radius: 1.125rem;
}

.profile__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile__info span {
  color: var(--text-color-alt);
}

.profile__info p {
  font-size: 1.5rem;
}

/*========== NAV ==========*/
.nav__container {
  background-color: var(--container-color);
  padding: 2rem var(--mb-3);
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
}

.nav__tabs{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__tabs a {
  color: var(--text-color-light);
  transition: all .3s;
}

.nav__tabs a:hover {
  color: var(--text-color);
}

/* Active menu link */


/*========== CARDS ==========*/

.card__data {
  padding: var(--mb-3);
  background-color: var(--container-color);
  border-radius: 1.125rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.card__left,
.card__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__background {
  position: relative;
  top: 30px;

  display: flex;
  justify-content: flex-end;

  padding-right: 20px;

  border-top-left-radius: 1.125rem;
  border-top-right-radius: 1.125rem;

  z-index: -1;
}

.card__data p {
  color: var(--text-color-light);
}

.hours {
  font-size: 2rem;
}

/*========== DAILY ==========*/
.work {
  background-color: var(--work);
}

.play {
  background-color: var(--play);
}

.study {
  background-color: var(--study);
}

.exercise {
  background-color: var(--exercise);
}

.social {
  background-color: var(--social);
}

.self {
  background-color: var(--self);
}

/*========== WEEKLY ==========*/


/*========== MONTHLY ==========*/


/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */


/* Classes modified for large screen size */

